$active-item: #FE0E41;
$active-text: #FF9D55;
$header: #ECECEC;
$border-disable: #cbcbcb;
$disable-item: #a7a7a7;
$disable-text: #686A70;
$link: #426592;

* {
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    &__upper {
        display: inline-flex;
        background-color: $header;
        width: 100%;
        height: 35px;
    }
    &__logo {
        height: 25px;
        width: auto;
        padding: 0 0 0 70px;
        position: absolute;
    }
    &__logo:hover {
        cursor: pointer;
    }
    &__location {
        display: flex;
        right: 0px;
        align-self: flex-end;
        margin: 0 0 7px 85%;
    }
    &__location:hover {
        cursor: pointer;
        .location {
            fill: $active-item;
            color: $active-item;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 140px;
    }
}

.location {
    fill: $disable-item;
    color: $disable-item;
    font-size: 12px;
}

.nav-up {
    display: flex;
    &__logo {
        height: 69px;
        width: auto;
    }
    &__logo:hover {
        cursor: pointer;
    }
    &__text {
        width: 180px;
        height: 60px;
    }
    &__text:hover {
        cursor: pointer;
    }
    &__input {
        display: flex;
        width: 100%;
    }
    &__box {
        width: 38px;
        height: 36px;
        background-color: $active-item;
        background-image: url("https://i.alicdn.com/ae-header/20200115224111/buyer/front/rumall/src/img/mall-header-svg/mall_search.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 3px 3px 0;
    }
}

.input {
    height: 32px;
    width: 100%;
    max-width: 350px;
    border: 1px solid $border-disable;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.icon {
    display: flex;
    margin: 0 50px 0 0;
    &__item {
        display: flex;
        margin: 0 15px 0 0;
    }
    &__item:hover {
        fill: $active-item;
        color: $active-item;
    }
    &__text {
        align-self: flex-start;
        margin: 10px 0 0 0;
        white-space: nowrap;
        font-size: 14px;
    }
}

.icon:hover {
    cursor: pointer;
}

.nav-down {
    padding: 10px 0 0 0;
    margin-left: -140px;
    display: flex;
    border-bottom: 1px solid $border-disable;
    &__menu {
        margin: 0 10px 0 140px;
        background-image: url("/src/img/open-menu.svg");
        width: 17px;
        height: 17px;
        background-size: cover;
    }
    &__menu:hover {
        cursor: pointer;
    }
    &__item {
        padding: 0 10px 10px 10px;
        margin: -2px 0 0 0;
    }
    &__item:hover {
        border-bottom: 3px solid $active-item;
        cursor: pointer;
        padding: 0 10px 7px 10px;
        .nav-down__text {
            color: $active-item;
        }
    }
    &__text {
        font-size: 14px;
        white-space: nowrap;
    }
    &__link-box {
        display: flex;
        flex-direction: row;
        margin: 0 0 0 10%;
        left: auto;
    }
}

.link {
    color: $disable-item;
    font-size: 14px;
    padding: 0 10px;
    white-space: nowrap;
}
.link:hover {
    color: $active-item;
    cursor: pointer;
}

.search-info {
    color: $disable-item;
    font-size: 14px;
    padding: 10px 0 20px 120px;
    &__num {
        color: #F3793F;
    }
    &__result {
        color: black;
    }
}

.main {
    display: flex;
    flex-direction: row;
    
    &__left {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0;
        width: 350px;
        height: 100%;
        border-right: 1px solid $border-disable;
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
}

.item {
    margin: 0 10px 10px 120px;
    display: flex;
    flex-direction: column;
    
    &__triangle {
        border-color: black transparent;
        margin: 3px 0 0 4px;
        position: absolute;
        border-style: solid;
        border-width: 5px 4px 0 4px;
    }
    &__text {
        color:$disable-text;
        font-size: 14px;
        padding: 6px 0;
    }
    &__header {
        margin: 0 0 0 15px;
        font-size: 12px;
    }
    &__content {
        width: 150px;
        font-size: 12px;
        color: $disable-text;
        padding: 7px 0 6px 20px;
    }
    &__last {
        border-bottom: 1px solid $border-disable;
    }
    &__content:hover {
        cursor: pointer;
    }
    &__header:hover {
        cursor: pointer;
    }
}

.img-block {
    padding: 10px 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__item {
        width: 50px;
        height: 28px;
        margin: 0 3px 5px 3px;
        padding: 0px 10px;
        border: 1px solid $border-disable;
        border-radius: 3px;
    }
    &__item:hover {
        cursor: pointer;
    }
}

.filters {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0 0 23px;
    &__cost {
        font-size: 14px;
    }
    &__input {
        width: 40px;
        height: 20px;
        border: 1px solid $border-disable;
        border-radius: 2px;
        outline: none;
        font-size: 9px;
    }
    &__checkbox {
        width: 15px;
        height: 15px;
        margin: 3.5px 0 0 20px;
        border: 1px solid $border-disable;
        border-radius: 2px;
    }
    &__checkbox {
        cursor: pointer;
    }
    &__starts {
        width: 76px;
        height: 14px;
        background-image: url("https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png");
        background-position: 0px -1077px;
        margin: 4px 0 0 5px;
    }
    &__starts:hover {
        cursor: pointer;
    }
    &__text {
        font-size: 14px;
        margin: 2px 0 0 0;
        color: $disable-text;
    }
    &__text:hover {
        cursor: pointer;
        color: $active-text;
    }
}

.throw-line {
    display: flex;
    flex-direction: row;
    &__action-box {
        display: flex;
        justify-content: flex-end;
        width: 40%;
    }
    &__view {
        font-size: 14px;
        align-self: center;
    }
    &__lines {
        background-image: url(https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png);
        background-position: 0 -469px;
        width: 24px;
        height: 18px;
        margin: 17px 5px 0 10px;
    }
    &__lines:hover {
        cursor: pointer;
    }
    &__grid {    
        background-image: url(https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png);
        background-position: 0 -327px;
        width: 24px;
        height: 18px;
        margin: 17px 5px 0 10px;
    }
    &__grid:hover {
        cursor: pointer;
    }
}

.category {
    display: flex;
    border: 1.1px solid $border-disable;
    border-radius: 2px;
    margin: 10px 20px;
    padding: 5px;
    border-bottom: 1px solid $border-disable;
    &__item {
        font-size: 14px;
        padding: 0 10px 0 10px;
        border-right: 1px solid $disable-item;
    }
    &__item:hover {
        cursor: pointer;
    }
    &__triangle {
        position: relative;
        display: inline-block;
        margin: 0 0 0 3px;
        width: 10px;
        height: 10px;
        background-image: url(https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png);
        background-position: 0px -263px;
    }
    &__last {
        border: none;
    }
    &__row {
        position: relative;
        display: inline-block;
        margin-left: 3px;
        width: 10px;
        height: 13px;
        background-image: url(https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png);
        background-position: 0px -206px;
        background-repeat: no-repeat;
        top: 3px;
        left: 0px;
    }
}

.devices {
    display: flex;
    flex-direction: row;
    margin: 10px 30px 0 20px;
    border-top: 1px solid $border-disable;  
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    &__text1 {
        font-size: 12px;
        color: $disable-text;
    }&__text2 {
        font-size: 12px;
        color: $disable-text;
    }
}
.img-box {
    margin: 10px 0 0 0;
    &__img {
        height: 200px;
    }
    &__text {
        font-size: 14px;
        color: $link;
        padding: 3px 0 3px 40px;
        background-color: $border-disable;
    }
}

.title {
    margin: 5px 0 0 0;
    display: flex;
    &__img {
        height: 14px;
    }
    &__t {   
        text-decoration: none;
        font-size: 14px;
        white-space: wrap;
        width: 200px;
        color: $link;
    }
}

.cost {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    &__quantity {
        font-size: 12px;
        color: $disable-text;

    }
    &__active {
        color: $active-item;
        font-size: 16px;
    }
    &__price {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        text-decoration: none;
        color: $active-item;
    }
    &__discount {      
        margin: 0 6px 0 0;
        flex-direction: row;
        font-size: 14px;
        text-decoration: line-through;
        color: $disable-text;
    }
    &__comments {
        display: flex;
        flex-direction: row;
    }
    &__stars {
        width: 76px;
        height: 14px;
        background-image: url(https://i.alicdn.com/ae-search-ui/common/img/new-sd179874dc2.927cedb6.png);
        background-position: 0px -1077px;
        margin: 4px 0 0 0;
    }
    &__text {
        font-size: 12px;
        margin: 4px 0 0 2px;
        color: $disable-text;
    }
}

.my-logo {
    width: 200px;
    height: auto;
}
.my-logo:hover {
    cursor: pointer;
}

@media(max-width: 1250px) {
    .throw-line {
        &__action-box {
            width: 30%;
        }
    }
}

@media(max-width: 1150px) {
    .icon {
        &__text {
            font-size: 0px;
        }
    }
    .header {
        &__logo {
            padding: 0 0 0 60px;
        }
        &__nav {
            margin: 30px 0 0 120px;
        }
    }
    .nav-up {
        &__logo {
            width: 120px
        }
    }
    .nav-down {
        &__link-box {
            display: none;
        }
    }
    .throw-line {
        flex-direction: column;
        &__action-box {
            display: none;
        }
        &__lines {
            margin: 7px 5px 0 10px;
        }
        &__grid {    
            margin: 7px 5px 0 10px;
        }
    }
    .category {
        width: 410px;
        &__item {
            font-size: 10px;
        }
    }
}

@media(max-width: 750px) {
    .header {
        &__logo {
            padding: 0 0 0 50px;
        }
        &__location {
            margin: 0 0 7px 80%;
        }
        &__nav {
            margin: 30px 0 0 100px;
        }
    } 
    .nav-up {
        flex-direction: column;
        &__text {
            height: 0px;
            width: 10px;
        }
        &__box {
            margin: 0 100px 0 0;
        }
    }
    .icon {
        margin: 0 0 0 0;
        &__item {
            display: flex;
            margin: 0 10px 0 0;
        }
    }
    .nav-down {
        flex-direction: column;
        &__item {
            margin: 0 0 0 130px;
            width: 100px;
        }
        &__menu {
            display: none;
        }
    }
    .main {
        &__left {
            display: none;
        }
    }

}

@media(max-width: 630px) {
    .img-block {
        &__item {
            display: none;
        }
    }
    
}

@media(max-width: 470px) {
    .header {
        &__logo {
            padding: 0 0 0 10px;
        }
        &__location {
            margin: 0 0 7px 70%;
        }
        &__nav {
            margin: 30px 0 0 0px;
        }
    }
    .nav-up {
        &__logo {
            padding: 0 0 0 20px;
        }
        &__box {
            margin: 0 40px 0 0;
        }
        &__input {
            margin: 0 0 0 20px;
        }
    }
    .icon {
        display: flex;
        margin: 0 0 0 20px;
        &__item {
            display: flex;
            margin: 0 0 0 0;
        }
    }
    .nav-down {
        &__menu {
            margin: 0 0 0 160px;
        }
        &__item {
            margin: 0 0 0 50%;
        }
    }
    .throw-line {
        display: none;
    }
    .filters {
        flex-direction: column;
    }
}